.logo-header {
    height: 100px;
    display: block;
    margin: 20px auto 10px auto;
    position: static;
    float: none;
    cursor: pointer;
}

.nav-buttons-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.controls{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
}

.button{
    height: 60px;
    width: 160px;
    background-color: #5f5e5e;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background: #de080f;
    transform: scale(1.05);
}

nav {
    background-color: rgba(95, 94, 94, 0.85);
    margin: 20px auto;
    width: 100%;
    max-width: 80%;
    border-radius: 12px;
    padding: 10px;
}

body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:40px;
    text-align:center;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

main {
    flex: 1;
}

.logo img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

button{
    background-color: #5f5e5e;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.789);
    color: white;
}

.exercise-dropdown{
    margin-bottom:60px;
}

select{
    background-color: #de080f;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

option{
    background-color: #5f5e5e;
    color: white;
    cursor: pointer;
}

#results {
    max-width: 700px;
    margin: 30px auto;
    background: rgba(0,0,0,0.75);
    padding: 25px;
    border-radius: 12px;
    text-align: left;
}

.level-buttons{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-bottom:60px;
}
.level-buttons button{
    padding: 12px 30px;
    font-size: 15px;
    background: rgba(255,255,255,0.1);
    border: 1px solid #de080f;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
}

.level-buttons button:hover {
    background: #de080f;
}

.dropdown-section {
    margin-bottom: 40px;
}

.video-area{
    margin-left: auto;
    margin-right:auto;
    height:300px;
    width:500px;
    color: white    ;
    background: rgba(0,0,0,0.7);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

#results, .video-area, nav {
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

footer {
    padding: 10px;
    text-align: center;
    color: #5f5e5e;
    background-color: black;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .nav-buttons {
        flex-direction: row;
        justify-content: center;
    }

    button {
        width: 160px;
    }

    .logo {
        font-size: 60px;
    }
}