nav {
    background-color: rgba(95, 94, 94, 0.85);
    margin: 20px auto;
    width: 90%;
    font-family: "Titillium Web", sans-serif;
    border-radius: 12px;
    padding: 10px;
}

.nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}
button {
    height: 60px;
    width: 160px;
    background-color: #5f5e5e;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}
.btn {
    height: 60px;
    width: 160px;
    background-color: #5f5e5e;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: black;
    color: white;
}

