.btn {
    height: 60px;
    width: 160px;
    background-color: #5f5e5e;
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: black;
    color: white;
}

