
nav{
    background-color: #5f5e5e;
    opacity: .7;
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;    
    font-family: "Titillium Web", sans-serif;
    position: relative;
    top: -100px;
}

button {
    margin: 0 auto;
    display: inline;
    gap: 50px;
    height: 95px;
    margin: 0px 20px;
    width: 150px;
    background-color: #5f5e5e;
    border: none;
    font-size: 20px;
}

button:hover{
    background-color: black;
    color: white;
}

.logo{
    height: 100px;
    float: right;
    position: relative;
    top: 17px;
}

html, body {
    height: 100%;
    margin: 0;
}

body{
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

footer{
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    color: #5f5e5e;
    background-color: black;    
}

#blocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px 30px;
    text-align: center;
    margin: auto;
    padding: 10PX 200px;    
}

#blk {
    background-color: #de080f;
    padding: 100px;
    border-radius: 10px;
    border: solid 5px black;
}

#prg {
    background-color: transparent;
    color: #12b7f1;
    font-family: "Bebas Neue", sans-serif;
}

img{
    border-radius: 3px;
    border: 20px solid black;
}

#title{
    color: #de080f;
    font-family: "Gravitas One", sans-serif;
    text-align: center;
    position: relative;
    top: -40px;
}